*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	background-color: #1B4079;
	width: 100%;
	height: 200px;
}

.page{
	max-width: 900px;
	margin: 0 auto;
	height: 500px;
}

.sidebar{
	background-color: #45ADAD;
	height: 100%;
	width:30%;
	display: inline-block;
}

.content{
	height: 100%;
	width: 70%;
	background-color: #FAD4C0;
	display: inline-block;
}

.footer{
	background-color: #1B4079;
	width: 100%;
	height: auto;
}

.column{
	display: inline-block;
    width: 31%;
    margin: 20px 1%;
    background-color: #FEE9E1;
    height: 200px;
}
